spacy>=2.3.5,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
pytest==6.2.1
black==20.8b1
pylint==2.6.0
typer==0.3.2
fastapi==0.63.0
uvicorn==0.13.3